<div class="friends-list col-md-12">
  <div class="friend-main col-md-6">
   <div class="friend-img">
     <img src="../../../../../assets/ico/user.jpg" style="width: 70px;">
   </div>
   <div class="friend-name">
     <h5>
     Username
     </h5>
   </div>
  </div>
  <div class="friend-main col-md-6">
   <div class="friend-img">
     <img src="../../../../../assets/ico/user.jpg" style="width: 70px;">
   </div>
   <div class="friend-name">
     <h5>
     Username
     </h5>
   </div>
  </div>
  <div class="friend-main col-md-6">
   <div class="friend-img">
     <img src="../../../../../assets/ico/user.jpg" style="width: 70px;">
   </div>
   <div class="friend-name">
     <h5>
     Username
     </h5>
   </div>
  </div>
  <div class="friend-main col-md-6">
   <div class="friend-img">
     <img src="../../../../../assets/ico/user.jpg" style="width: 70px;">
   </div>
   <div class="friend-name">
     <h5>
     Username
     </h5>
   </div>
  </div>
  
  
</div>