<div class="container-fluid profile-head-main">
    <div class="profile-head col-md-12">
        <div class="col-md-4"></div>
		<!--Profile Picture and Profile Name-->
        <div class="col-md-4 profile-main">
            <div class="profile-img">
                <img src="../../../../../assets/ico/user.jpg">
            </div>
            <div class="user-name">
                <h1>{{obj.email}}</h1>
            </div>
            <div class="user-desc">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="addfrndbtn">
                <button class="btn btn-primary accept-btn" (click)="addFriend()"> Add Friend</button>
            </div>
        </div>
        <div class="col-md-4">
            <span>{{obj.email}}

            </span>

        </div>

    </div>
